nav {
  background: #21222A;
  display: flex;
}

nav h1 {
  color: #61DAFB;
}

body {
  margin: 0;
  background: #282D35;
  color: white;
  font-family: "inter", sans-serif;
}

li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}

nav img {
  width: 30px;
  margin: 10px;
}

main {
  padding: 20px 40px;
  background-image: url(./assets/react-logo-half.png);
  background-repeat: no-repeat;
  background-position: right 70%;
}

main > h1 { 
  font-size: 40px;
}

.facts-list {
  font-size: 16px;
}